.buttons-container {
    height: 3rem;
    width: 4rem;
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.elevator-arrows {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-elevator-arrows);
}

.enter-lift-button {
    font-size: 1.3rem;
    display: none;
}

.enter-lift-button-available {
    color: black !important;
    cursor: pointer;
    display: block;
}

.exit-lift {
    transform: rotateY(180deg) rotateX(180deg);
}

.storey {
    width: 100%;
    height: calc(100% / 7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.storeys-container {
    width: 70%;
    height: 100%;
    background-color: var(--color-storey);
}

.storey-odd {
    background-color: var(--color-storey-odd);
}

.active-arrow {
    color: var(--color-active-arrows-lift);
    cursor: pointer;
}

.storey-door {
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--color-storey-door);
    cursor: pointer;
}

.door-open {
    color: var(--color-storey-door-open);
}

.can-call-elevator {
    cursor: pointer;
}

.storey-door-unavailable {
    cursor: default !important;
}

.you {
    font-size: 2.5rem;
    color: var(--color-person);
    opacity: 1;
}

.you-invisible {
    opacity: 0;
}
