.buttons-container {
    height: 3rem;
    width: 4rem;
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.elevator-arrows {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
}

.enter-lift-button {
    font-size: 1.3rem;
    color: gray;
}

.enter-lift-button-available {
    color: black !important;
}

.storey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.storeys-container {
    width: 70%;
    height: 100%;
    background-color: rgb(151, 151, 151);
}

.storey {
    width: 100%;
    height: calc(100% / 7);
}

.storey-odd {
    background-color: rgb(163, 163, 163);
}

.elevator-arrow {
    cursor: pointer;
}

.active-arrow {
    color: rgb(218, 126, 40);
}

.storey-door {
    margin-right: 1rem;
    font-size: 2rem;
    color: rgb(117, 115, 115);
    cursor: pointer;
}

.door-open {
    color: black;
}
