.user-manual-container {
    width: 15rem;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.user-manual-q {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    z-index: 1;
}

.user-manual {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.user-manual-text-container {
    padding: 0.5rem;
    height: 80%;
    width: 98%;
    overflow-y: scroll;
    cursor: default;
    user-select: none;
}

.user-manual-invisible {
    background-color: rgb(154, 189, 201);
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    border-top-right-radius: 1rem;
    display: none;
}

.user-manual-3,
.user-manual-2 {
    width: 100%;
}

.user-manual-images {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-manual-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-manual-man-icoon {
    height: 5rem;
    width: 3.8rem;
    border-radius: 0.5rem;
}

.user-manual-floor-lift {
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.user-manual-lift-buttons {
    width: 1.8rem;
}

.user-manual-lift-enter-leave {
    width: 1.5rem;
    height: 1.5rem;
}

.user-manual-leading {
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
    user-select: none;
}
