.building-and-index {
    height: 85%;
    width: 55%;
    display: flex;
    flex-direction: row;
}

.building-container {
    background-color: gray;
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    gap: 0.2rem;
}

.index {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.index .index-and-men-position {
    height: calc(100% / 7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px dotted rgb(189, 189, 223);
}

.index .index-and-men-position p {
    height: 100%;
    width: 50%;
    color: rgb(153, 153, 179);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-first {
    border: 0 !important;
}

.you-lift {
    color: rgb(109, 109, 109) !important;
    opacity: 1 !important;
}

.you-invisible-lift {
    font-size: 2.5rem;
    opacity: 0;
}

.lift-and-floor-info-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.lift-and-floor-info-container .lift-and-floor-info-index {
    height: calc(100% / 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 2px dotted rgb(189, 189, 223);
    width: 100%;
}

.lift-and-floor-info-container .lift-and-floor-info-index p {
    margin-left: 0.5rem;

    height: 100%;
    color: rgb(153, 153, 179);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
