/* .segment-a-b,
.segment-d-b,
.segment-g-b {
    background-color: rgba(105, 42, 42, 0.4) !important;
    width: 75%;
    height: 5%;
}
.segment-b-b,
.segment-c-b,
.segment-e-b,
.segment-f-b {
    background-color: rgba(105, 42, 42, 0.4) !important;
    width: 10%;
    height: 75%;
} */
