.App {
    height: 100vh;
    width: 100vw;
}

.sky {
    height: 90%;
    width: 100%;
    background-color: rgb(203, 237, 248);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
}
