.App {
    height: 100vh;
    width: 100vw;
}

.road {
    height: 10%;
    width: 100%;
    background-color: rgb(136, 134, 134);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.sky {
    height: 90%;
    width: 100%;
    background-color: rgb(203, 237, 248);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.line {
    background-color: rgb(180, 180, 180);
    width: 18%;
    height: 0.25rem;
}

.lift-names-container {
    width: 50%;
    height: 1.5rem;
}

.lift-names {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.lift-name {
    width: 50%;
    height: 100%;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: lighter;
}

.app-information {
    position: absolute;
    margin: 0.5rem;
    top: 0;
    left: 0;
}
