.App {
    height: 100vh;
    width: 100vw;
}

.road {
    height: 10%;
    width: 100%;
    background-color: rgb(136, 134, 134);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.sky {
    height: 90%;
    width: 100%;
    background-color: rgb(203, 237, 248);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
}

.line {
    background-color: rgb(180, 180, 180);
    width: 18%;
    height: 0.25rem;
}

.app-information {
    position: absolute;
    margin: 0.5rem;
    top: 0;
    left: 0;
}

.user-manual-container {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-manual-q {
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

.user-manual {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.user-manual-text-container {
    padding: 0.5rem;
    height: 80%;
    width: 98%;
    overflow-y: scroll;
}

.user-manual-invisible {
    background-color: rgb(154, 189, 201);
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    border-top-right-radius: 1rem;
    display: none;
}

.user-manual-3,
.user-manual-2 {
    width: 100%;
}

.user-manual-images {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-manual-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-manual-man-icoon {
    height: 5rem;
    width: 3.8rem;
    border-radius: 0.5rem;
}

.user-manual-floor-lift {
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.user-manual-lift-buttons {
    width: 1.8rem;
}

.user-manual-lift-enter-leave {
    width: 1.5rem;
    height: 1.5rem;
}
