:root {
    --color-black: black;
    --color-storey-door-open: black;
    --color-white: white;
    --color-read-user-manual: rgba(0, 0, 0, 0.2);
    --color-lift: rgb(52, 52, 105);
    --color-segments-display: rgb(75, 75, 122);
    --color-lift-hall: rgb(96, 95, 122);
    --color-info-p: rgb(153, 153, 179);
    --color-info-border: rgb(189, 189, 223);
    --color-person-in-lift: rgb(109, 109, 109);
    --color-person: rgb(109, 109, 109);
    --color-storey-door: rgb(117, 115, 115);
    --color-road: rgb(136, 134, 134);
    --color-storey: rgb(151, 151, 151);
    --color-storey-odd: rgb(163, 163, 163);
    --color-building: gray;
    --color-elevator-arrows: gray;
    --color-road-line: rgb(180, 180, 180);
    --color-lift-button: rgb(220, 236, 236);
    --color-user-manual-bg: rgb(154, 189, 201);
    --color-sky: rgb(203, 237, 248);
    --color-segment-active: red;
    --color-active-arrows-lift: rgb(223, 149, 13);
    --color-segment-display: rgba(105, 42, 42, 0.5);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
